{%- extends "base.html.j2" %}

{%- block head %} {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}" crossorigin=""/>
{%- endblock %}

{%- block title %}<title>OpenTracks Viewer - {{activity|get_activity_emoji(with_text=True)}}</title>{% endblock %}

{%- block content %}
    <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>

    <div class="d-flex justify-content-center">
        <h1 class="display-1">{{activity|get_activity_emoji(with_text=True)}}</h1> 
    </div>
            <br> 
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div id="map"></div>
                <style>#map { height: 1000px; }</style>
                <script>
                    {% include "leaflet.js.j2" %}
                </script>
            </div>
        </div>
    </div>
{%- endblock %}