{%- extends "base.html.j2" %}
{%- block content %}
        <table id="track_list" class="display">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Activity</th>
                    <th scope="col">Moving Time</th>
                    <th scope="col">Track Length</th>
                    <th scope="col">Uphill</th>
                    <th scope="col">Downhill</th>
                </tr>
            </thead>
            <tbody>
        {%- for track_id in tracks %}
                <tr>
                    {%- set track = tracks[track_id] %}
                    {%- set moving_data = track.get_moving_data() %}
                    {%- set uphill_downhill = track.get_uphill_downhill() %}
                    {%- set time_bounds = track.get_time_bounds() %}
                    <td scope="row"><a href="/track/{{track_id}}">{{time_bounds.start_time|format_datetime}}</a></th>
                    <td>{{track.tracks[0].type|capitalize}}</td>
                    <td>{{moving_data.moving_time|int|format_duration}}</td>
                    <td>{{"%.3f"|format(track.length_2d()/1000|round|int)}} km </td>
                    <td>{{uphill_downhill.uphill|round|int}}m</td>
                    <td>{{uphill_downhill.downhill|round|int}}m</td>
                </tr>
        {%- endfor %}
            </tbody>
        </table>
        <script>
            let table = new DataTable('#track_list', {
                "paging": false,
                "order": [[ 0, 'desc' ]],
                "columnDefs": [{
                    "targets": "_all",
                    "className": "dt-center"
                }]
            });
        </script>
{%- endblock %}