// Init map 
var map = L.map('map');

// Build dict of baseTileLayers and set map default layer
var baseTileLayers = {}
{% for layer in tile_layers %}
    baseTileLayers["{{layer.name}}"] =
        L.tileLayer("{{layer.value[0]}}", {
            attribution: "{{layer.value[1]}}",
            maxZoom: 19
        })
    {% if layer.name == default_tile_layer.name %}
        map.addLayer(baseTileLayers["{{layer.name}}"])
    {% endif %}
{% endfor %}

// Create layerControl
var layerControl = L.control.layers(baseTileLayers).addTo(map) 
map.addControl(new L.Control.Fullscreen());