// Init map 
var map = L.map('map');

// Build dict of baseTileLayers and set map default layer
var baseTileLayers = {}
{% for layer_name, layer in config.TILE_LAYERS.items() %}
    baseTileLayers["{{layer_name}}"] =
        L.tileLayer("{{layer.generic_tile_format}}", {
            attribution: "{{layer.attribution}}",
            maxZoom: 19
        })
    {% if layer_name == config.DEFAULT_TILE_LAYER.name %}
        map.addLayer(baseTileLayers["{{layer_name}}"])
    {% endif %}
{% endfor %}

// Create layerControl
var layerControl = L.control.layers(baseTileLayers).addTo(map) 
map.addControl(new L.Control.Fullscreen());