{%- extends "base.html.j2" %}

{%- block title %}<title>OpenTracks Viewer - {{ year }}{% if month is defined %} - {{month|get_month_name}}{% endif %}{% if day is defined %} - {{day}}{% endif %}</title>{% endblock %}

{%- block content %}
<script src="{{ url_for('static', filename='node_modules/chart.js/dist/chart.min.js') }}"></script>

    <div class="d-flex justify-content-center">
        <h1 class="display-1">{{ year }}{% if month is defined %} - {{month|get_month_name}}{% endif %}{% if day is defined %} - {{day}}{% endif %}</h1>
    </div>

<div class="container">
    Activities:
    <ul>
    {% for activity in activities|sort %}
        <li>{{activity|get_activity_emoji(True)}} - {{"%.3f"|format(tracks|selectattr("activity", "==", activity)|sum(attribute="length_2d")/1000)}}km</li>
    {% endfor %}
    </ul>
</div>

<div>
    <canvas id="timeChart"></canvas>
    <script>
        const ctx = document.getElementById('timeChart');
        const timeChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{periods_label}},
                datasets: [
                {%- for activity in activities %}
                    {
                        label: '{{ activity }}',
                        data: [
                        {%- for index in range(periods|length) -%}
                            {{"%.3f"|format(tracks|selectattr("activity", "==", activity)|selectattr("start_time", ">=", periods[index][0])|selectattr("start_time", "<=", periods[index][1])|sum(attribute="length_2d")/1000)}},
                        {%- endfor -%}
                        ],
                        backgroundColor: "{{ activity|get_activity_color }}"
                    },
                {%- endfor %}
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                let text = context.parsed.y || 'NaN';
                                text += ' km';
                                return text;
                            },
                        },
                    },
                },
            }
        });
    </script>
</div>
{%- endblock %}