{%- extends "base.html.j2" %}

{%- block head %} {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}" crossorigin=""/>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet-fullscreen/dist/leaflet.fullscreen.css') }}" crossorigin=""/>
{%- endblock %}

{%- block title %}<title>OpenTracks Viewer - {{track.start_time|format_datetime}}</title>{% endblock %}

{%- block content %}
    <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/leaflet-fullscreen/dist/Leaflet.fullscreen.min.js') }}"></script>

    <div class="d-flex justify-content-center">
        <h1 class="display-1">{{track.start_time|format_datetime}}</h1> 
    </div>
            <br> 
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div id="map"></div>
                <style>#map { height: 1000px; }</style>
                <script>
                    {% include "leaflet.js.j2" %}
                    
                    // Setup track display on map
                    var polylinePoints = {{ polyline_points }};
                    var polyline = L.polyline(polylinePoints).addTo(map);
                    map.fitBounds(polyline.getBounds());
                </script>
            </div>
            <div class="col-4 my-auto">
                <b>Activity Type:</b> {{track.activity|capitalize}}<br/>
                <br/>
                <b>Length 2D:</b> {{"%.3f"|format(track.length_2d/1000)}} km<br/>
                <b>Length 3D:</b> {{"%.3f"|format(track.length_3d/1000)}} km<br/>
                <br/>
                <b>Moving time:</b> {{track.moving_time|int|format_duration}}<br/>
                <b>Stopped time:</b> {{track.stopped_time|int|format_duration}}<br/>
                <br/>
                <b>Max Speed:</b> {{"%.3f"|format(track.max_speed*3.6)}} km/h<br/>
                <b>Average Speed:</b> {{"%.3f"|format(track.moving_distance/track.moving_time*3.6)}} km/h<br/>
                <br/>
                <b>Total uphill:</b> {{track.uphill|round|int}} meters<br/>
                <b>Total downhill:</b> {{track.downhill|round|int}} meters<br/>
                <br/>
                <b>Start Time:</b> {{track.start_time|format_datetime}}<br/>
                <b>End Time:</b> {{track.end_time|format_datetime}}<br/>
                <br/>
            </div>
        </div>
    </div>
{%- endblock %}