{%- extends "base.html.j2" %}

{%- block head %} {{ super() }}
    <link type="text/css" href="{{ url_for('static', filename='./node_modules/datatables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet">
{%- endblock %}

{%- block content %}
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='./node_modules/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='./node_modules/datatables/media/js/jquery.dataTables.js') }}"></script>
        <br/>
        <table id="track_list" class="display">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Activity</th>
                    <th scope="col">Moving Time</th>
                    <th scope="col">Track Length</th>
                    <th scope="col">Uphill</th>
                    <th scope="col">Downhill</th>
                </tr>
            </thead>
            <tbody>
        {%- for track_id in tracks %}
                <tr>
                    {%- set track = tracks[track_id] %}
                    <td scope="row"><a href="/track/{{track_id}}">{{track.start_time|format_datetime}}</a></td>
                    <td>{{track.activity|get_activity_emoji(with_text=True)}}</td>
                    <td>{{track.moving_time|int|format_duration}}</td>
                    <td data-order={{track.length_2d}}>{{"%.3f"|format(track.length_2d/1000|round|int)}}km</td>
                    <td data-order={{track.uphill}}>{{track.uphill|round|int}}m</td>
                    <td data-order={{track.downhill}}>{{track.downhill|round|int}}m</td>
                </tr>
        {%- endfor %}
            </tbody>
        </table>
        <script>
            $(document).ready( function () {
                $('#track_list').DataTable({
                    paging: false,
                    order: [[ 0, 'desc' ]],
                    columnDefs: [
                        { targets: "_all", className: "dt-center" }
                    ]
                })
            });
            let table = new DataTable('#track_list', );
        </script>
{%- endblock %}